<a href="https://colab.research.google.com/github/Abubakar919666/Python/blob/main/Data_Visualization_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load and Display Data â†’ Read the dataset and print the first 5 rows.
data = pd.read_csv('covid_19_country_wise_latest.csv')
data.head()

,Unnamed: 0,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [3]:
data.tail()

,Unnamed: 0,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
182,182,West Bank and Gaza,10621,78,3752,6791,152.0,2.0,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,183,Western Sahara,10,1,8,1,0.0,0.0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,184,Yemen,1691,483,833,375,10.0,4.0,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,185,Zambia,4552,140,2815,1597,71.0,1.0,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,186,Zimbabwe,2704,non,542,2126,192.0,2.0,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [4]:
# Set the Dataset index is Unnamed: 0
data.set_index("Unnamed: 0", inplace=True)
data.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
Unnamed: 0,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [5]:
# Now replace the index column Unnamed: 0 name with index
data.rename_axis("index", inplace=True)
data.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
index,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [6]:
# Function to replace whitespace in column names with underscores
def replace_whitespace(Data):

    # Replace whitespaces with underscores in column names
    data.columns = data.columns.str.replace(' ', '_')

    # Return the updated DataFrame
    return data


data = replace_whitespace(data)

data.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths_/_100_Cases,Recovered_/_100_Cases,Deaths_/_100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region
index,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [7]:
data.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New_cases', 'New_deaths', 'New_recovered', 'Deaths_/_100_Cases',
       'Recovered_/_100_Cases', 'Deaths_/_100_Recovered',
       'Confirmed_last_week', '1_week_change', '1_week_%_increase',
       'WHO_Region'],
      dtype='object')

In [8]:
data.dtypes

Country/Region             object
Confirmed                   int64
Deaths                     object
Recovered                   int64
Active                      int64
New_cases                 float64
New_deaths                float64
New_recovered               int64
Deaths_/_100_Cases        float64
Recovered_/_100_Cases     float64
Deaths_/_100_Recovered    float64
Confirmed_last_week         int64
1_week_change               int64
1_week_%_increase         float64
WHO_Region                 object
dtype: object

In [9]:
data.isnull().sum()

Country/Region             0
Confirmed                  0
Deaths                     0
Recovered                  0
Active                     0
New_cases                 10
New_deaths                10
New_recovered              0
Deaths_/_100_Cases         0
Recovered_/_100_Cases      0
Deaths_/_100_Recovered     0
Confirmed_last_week        0
1_week_change              0
1_week_%_increase          0
WHO_Region                 0
dtype: int64

In [10]:
# fill the nan values with the mean of the column
data.fillna(data.mean())

TypeError: Could not convert ["AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua and BarbudaArgentinaArmeniaAustraliaAustriaAzerbaijanBahamasBahrainBangladeshBarbadosBelarusBelgiumBelizeBeninBhutanBoliviaBosnia and HerzegovinaBotswanaBrazilBruneiBulgariaBurkina FasoBurmaBurundiCabo VerdeCambodiaCameroonCanadaCentral African RepublicChadChileChinaColombiaComorosCongo (Brazzaville)Congo (Kinshasa)Costa RicaCote d'IvoireCroatiaCubaCyprusCzechiaDenmarkDjiboutiDominicaDominican RepublicEcuadorEgyptEl SalvadorEquatorial GuineaEritreaEstoniaEswatiniEthiopiaFijiFinlandFranceGabonGambiaGeorgiaGermanyGhanaGreeceGreenlandGrenadaGuatemalaGuineaGuinea-BissauGuyanaHaitiHoly SeeHondurasHungaryIcelandIndiaIndonesiaIranIraqIrelandIsraelItalyJamaicaJapanJordanKazakhstanKenyaKosovoKuwaitKyrgyzstanLaosLatviaLebanonLesothoLiberiaLibyaLiechtensteinLithuaniaLuxembourgMadagascarMalawiMalaysiaMaldivesMaliMaltaMauritaniaMauritiusMexicoMoldovaMonacoMongoliaMontenegroMoroccoMozambiqueNamibiaNepalNetherlandsNew ZealandNicaraguaNigerNigeriaNorth MacedoniaNorwayOmanPakistanPanamaPapua New GuineaParaguayPeruPhilippinesPolandPortugalQatarRomaniaRussiaRwandaSaint Kitts and NevisSaint LuciaSaint Vincent and the GrenadinesSan MarinoSao Tome and PrincipeSaudi ArabiaSenegalSerbiaSeychellesSierra LeoneSingaporeSlovakiaSloveniaSomaliaSouth AfricaSouth KoreaSouth SudanSpainSri LankaSudanSurinameSwedenSwitzerlandSyriaTaiwan*TajikistanTanzaniaThailandTimor-LesteTogoTrinidad and TobagoTunisiaTurkeyUSUgandaUkraineUnited Arab EmiratesUnited KingdomUruguayUzbekistanVenezuelaVietnamWest Bank and GazaWestern SaharaYemenZambiaZimbabwe"] to numeric

In [11]:
# Fill NaN values with the mean for numeric columns only
data[data.select_dtypes(include=['number']).columns] = data.select_dtypes(include=['number']).fillna(data.mean())

# Check the updated dataset
print(data)

TypeError: Could not convert ["AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua and BarbudaArgentinaArmeniaAustraliaAustriaAzerbaijanBahamasBahrainBangladeshBarbadosBelarusBelgiumBelizeBeninBhutanBoliviaBosnia and HerzegovinaBotswanaBrazilBruneiBulgariaBurkina FasoBurmaBurundiCabo VerdeCambodiaCameroonCanadaCentral African RepublicChadChileChinaColombiaComorosCongo (Brazzaville)Congo (Kinshasa)Costa RicaCote d'IvoireCroatiaCubaCyprusCzechiaDenmarkDjiboutiDominicaDominican RepublicEcuadorEgyptEl SalvadorEquatorial GuineaEritreaEstoniaEswatiniEthiopiaFijiFinlandFranceGabonGambiaGeorgiaGermanyGhanaGreeceGreenlandGrenadaGuatemalaGuineaGuinea-BissauGuyanaHaitiHoly SeeHondurasHungaryIcelandIndiaIndonesiaIranIraqIrelandIsraelItalyJamaicaJapanJordanKazakhstanKenyaKosovoKuwaitKyrgyzstanLaosLatviaLebanonLesothoLiberiaLibyaLiechtensteinLithuaniaLuxembourgMadagascarMalawiMalaysiaMaldivesMaliMaltaMauritaniaMauritiusMexicoMoldovaMonacoMongoliaMontenegroMoroccoMozambiqueNamibiaNepalNetherlandsNew ZealandNicaraguaNigerNigeriaNorth MacedoniaNorwayOmanPakistanPanamaPapua New GuineaParaguayPeruPhilippinesPolandPortugalQatarRomaniaRussiaRwandaSaint Kitts and NevisSaint LuciaSaint Vincent and the GrenadinesSan MarinoSao Tome and PrincipeSaudi ArabiaSenegalSerbiaSeychellesSierra LeoneSingaporeSlovakiaSloveniaSomaliaSouth AfricaSouth KoreaSouth SudanSpainSri LankaSudanSurinameSwedenSwitzerlandSyriaTaiwan*TajikistanTanzaniaThailandTimor-LesteTogoTrinidad and TobagoTunisiaTurkeyUSUgandaUkraineUnited Arab EmiratesUnited KingdomUruguayUzbekistanVenezuelaVietnamWest Bank and GazaWestern SaharaYemenZambiaZimbabwe"] to numeric

In [12]:
# Select only numeric columns
numeric_columns = data.select_dtypes(include=['number']).columns

# Fill NaN values in numeric columns with the mean
data.fillna(data[numeric_columns].mean())

# Check the updated dataset
print(data)

           Country/Region  Confirmed Deaths  Recovered  Active  New_cases  \
index
0             Afghanistan      36263   1269      25198    9796      106.0
1                 Albania       4880    144       2745    1991      117.0
2                 Algeria      27973   1163      18837    7973      616.0
3                 Andorra        907     52        803      52       10.0
4                  Angola        950     41        242     667       18.0
...                   ...        ...    ...        ...     ...        ...
182    West Bank and Gaza      10621     78       3752    6791      152.0
183        Western Sahara         10      1          8       1        0.0
184                 Yemen       1691    483        833     375       10.0
185                Zambia       4552    140       2815    1597       71.0
186              Zimbabwe       2704    non        542    2126      192.0

       New_deaths  New_recovered  Deaths_/_100_Cases  Recovered_/_100_Cases  \
index
0            10.0             18                3.50                  69.49
1             6.0             63                2.95                  56.25
2             8.0            749                4.16                  67.34
3             0.0              0                5.73                  88.53
4             1.0              0                4.32                  25.47
...           ...            ...                 ...                    ...
182           2.0              0                0.73                  35.33
183           0.0              0               10.00                  80.00
184           4.0             36               28.56                  49.26
185           1.0            465                3.08                  61.84
186           2.0             24                1.33                  20.04

       Deaths_/_100_Recovered  Confirmed_last_week  1_week_change  \
index
0                        5.04                35526            737
1                        5.25                 4171            709
2                        6.17                23691           4282
3                        6.48                  884             23
4                       16.94                  749            201
...                       ...                  ...            ...
182                      2.08                 8916           1705
183                     12.50                   10              0
184                     57.98                 1619             72
185                      4.97                 3326           1226
186                      6.64                 1713            991

       1_week_%_increase             WHO_Region
index
0                   2.07  Eastern Mediterranean
1                  17.00                 Europe
2                  18.07                 Africa
3                   2.60                 Europe
4                  26.84                 Africa
...                  ...                    ...
182                19.12  Eastern Mediterranean
183                 0.00                 Africa
184                 4.45  Eastern Mediterranean
185                36.86                 Africa
186                57.85                 Africa

[187 rows x 15 columns]

In [13]:
# Count the number of unique countries in the dataset.
data['Country/Region'].nunique()

187

In [14]:
# Check if there are any duplicate country entries and remove them if needed
data['Country/Region'].duplicated()

index
0      False
1      False
2      False
3      False
4      False
       ...
182    False
183    False
184    False
185    False
186    False
Name: Country/Region, Length: 187, dtype: bool

In [15]:
# Find the mean
numerical_columns = data.select_dtypes(include=['float64', 'int64'])
print(numerical_columns.mean())

Confirmed                 8.813094e+04
Recovered                 5.063148e+04
Active                    3.400194e+04
New_cases                 1.282740e+03
New_deaths                3.040113e+01
New_recovered             9.338128e+02
Deaths_/_100_Cases        3.019519e+00
Recovered_/_100_Cases     6.482053e+01
Deaths_/_100_Recovered             inf
Confirmed_last_week       7.868248e+04
1_week_change             9.448460e+03
1_week_%_increase         1.360620e+01
dtype: float64

In [16]:
# Find the mean, median, and standard deviation of total cases.
data.describe()

,Confirmed,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths_/_100_Cases,Recovered_/_100_Cases,Deaths_/_100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase
count,1.870000e+02,1.870000e+02,1.870000e+02,177.000000,177.000000,187.000000,187.000000,187.000000,187.00,1.870000e+02,187.000000,187.000000
mean,8.813094e+04,5.063148e+04,3.400194e+04,1282.740113,30.401130,933.812834,3.019519,64.820535,inf,7.868248e+04,9448.459893,13.606203
std,3.833187e+05,1.901882e+05,2.133262e+05,5864.213495,123.232977,4197.719635,3.454302,26.287694,NaN,3.382737e+05,47491.127684,24.509838
min,1.000000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,1.000000e+01,-47.000000,-3.840000
25%,1.114000e+03,6.265000e+02,1.415000e+02,4.000000,0.000000,0.000000,0.945000,48.770000,1.45,1.051500e+03,49.000000,2.775000
50%,5.059000e+03,2.815000e+03,1.600000e+03,58.000000,1.000000,22.000000,2.150000,71.320000,3.62,5.020000e+03,432.000000,6.890000
75%,4.046050e+04,2.260600e+04,9.149000e+03,420.000000,6.000000,221.000000,3.875000,86.885000,6.44,3.708050e+04,3172.000000,16.855000
max,4.290259e+06,1.846641e+06,2.816444e+06,56336.000000,1076.000000,33728.000000,28.560000,100.000000,inf,3.834677e+06,455582.000000,226.320000

In [17]:
# Set pandas to display all rows
pd.set_option('display.max_rows', None)

# Assuming 'df' is your DataFrame
print(data['Deaths'])

# Optionally, reset the display setting to the default
pd.reset_option('display.max_rows')

index
0        1269
1         144
2        1163
3          52
4          41
5           3
6        3059
7         711
8         167
9         713
10        423
11         11
12        141
13       2965
14          7
15        538
16       9822
17          2
18         35
19          0
20       2647
21        294
22          2
23      87618
24          3
25        347
26         53
27          6
28          1
29         22
30          0
31        391
32       8944
33         59
34         75
35       9187
36       4656
37       8777
38          7
39         54
40        208
41        115
42         96
43        139
44         87
45         19
46        373
47        613
48         58
49          0
50       1083
51       5532
52       4652
53        408
54         51
55          0
56         69
57         34
58        228
59          0
60        329
61      30212
62         49
63          8
64         16
65       9125
66        168
67        202
68          0
69          0
70       1761
71         45
72         26
73         20
74        158
75          0
76       1166
77        596
78         10
79      33408
80       4838
81      15912
82       4458
83       1764
84        474
85      35112
86         10
87        998
88         11
89        585
90        285
91        185
92        438
93       1301
94          0
95         31
96         51
97         12
98         72
99         64
100         1
101        80
102       112
103        91
104        99
105       124
106        15
107       124
108         9
109       156
110        10
111     44022
112       748
113         4
114         0
115        45
116       316
117        11
118         8
119        48
120      6160
121        22
122       108
123        69
124       860
125       466
126       255
127       393
128      5842
129      1322
130         0
131        43
132     18418
133      1945
134      1676
135      1719
136       165
137      2206
138     13334
139         5
140         0
141         0
142         0
143        42
144        14
145      2760
146       194
147       543
148         0
149        66
150        27
151        28
152       116
153        93
154      7067
155       300
156        46
157     28432
158        11
159       720
160        24
161      5700
162      1978
163        40
164         7
165        60
166        21
167        58
168         0
169        18
170         8
171        50
172      5630
173    148011
174         2
175      1636
176       345
177     45844
178        35
179       121
180       146
181         0
182        78
183         1
184       483
185       140
186       non
Name: Deaths, dtype: object

In [18]:
# Find out the string in Deaths

data['Deaths_numeric'] = pd.to_numeric(data['Deaths'], errors='coerce')
strings_in_deaths = data[data['Deaths_numeric'].isna()]

print(strings_in_deaths)

      Country/Region  Confirmed Deaths  Recovered  Active  New_cases  \
index
186         Zimbabwe       2704    non        542    2126      192.0

       New_deaths  New_recovered  Deaths_/_100_Cases  Recovered_/_100_Cases  \
index
186           2.0             24                1.33                  20.04

       Deaths_/_100_Recovered  Confirmed_last_week  1_week_change  \
index
186                      6.64                 1713            991

       1_week_%_increase WHO_Region  Deaths_numeric
index
186                57.85     Africa             NaN

In [18]:
# replace it with the mean of Deaths column