<a href="https://colab.research.google.com/github/Abubakar919666/Python/blob/main/Data_Visualization_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Load and Display Data â†’ Read the dataset and print the first 5 rows.
data = pd.read_csv('covid_19_country_wise_latest.csv')
data.head()

,Unnamed: 0,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [4]:
data.tail()

,Unnamed: 0,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
182,182,West Bank and Gaza,10621,78,3752,6791,152.0,2.0,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,183,Western Sahara,10,1,8,1,0.0,0.0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,184,Yemen,1691,483,833,375,10.0,4.0,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,185,Zambia,4552,140,2815,1597,71.0,1.0,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,186,Zimbabwe,2704,non,542,2126,192.0,2.0,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [5]:
# Set the Dataset index is Unnamed: 0
data.set_index("Unnamed: 0", inplace=True)
data.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
Unnamed: 0,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [6]:
# Now replace the index column Unnamed: 0 name with index
data.rename_axis("index", inplace=True)
data.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
index,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [7]:
# Function to replace whitespace in column names with underscores
def replace_whitespace(Data):

    # Replace whitespaces with underscores in column names
    data.columns = data.columns.str.replace(' ', '_')

    # Return the updated DataFrame
    return data


data = replace_whitespace(data)

data.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths_/_100_Cases,Recovered_/_100_Cases,Deaths_/_100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region
index,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa

In [8]:
data.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New_cases', 'New_deaths', 'New_recovered', 'Deaths_/_100_Cases',
       'Recovered_/_100_Cases', 'Deaths_/_100_Recovered',
       'Confirmed_last_week', '1_week_change', '1_week_%_increase',
       'WHO_Region'],
      dtype='object')

In [9]:
data.dtypes

Country/Region             object
Confirmed                   int64
Deaths                     object
Recovered                   int64
Active                      int64
New_cases                 float64
New_deaths                float64
New_recovered               int64
Deaths_/_100_Cases        float64
Recovered_/_100_Cases     float64
Deaths_/_100_Recovered    float64
Confirmed_last_week         int64
1_week_change               int64
1_week_%_increase         float64
WHO_Region                 object
dtype: object

In [10]:
data.isnull().sum()

Country/Region             0
Confirmed                  0
Deaths                     0
Recovered                  0
Active                     0
New_cases                 10
New_deaths                10
New_recovered              0
Deaths_/_100_Cases         0
Recovered_/_100_Cases      0
Deaths_/_100_Recovered     0
Confirmed_last_week        0
1_week_change              0
1_week_%_increase          0
WHO_Region                 0
dtype: int64

In [11]:
# fill the nan values with the mean of the column
data.fillna(data.mean())

TypeError: Could not convert ["AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua and BarbudaArgentinaArmeniaAustraliaAustriaAzerbaijanBahamasBahrainBangladeshBarbadosBelarusBelgiumBelizeBeninBhutanBoliviaBosnia and HerzegovinaBotswanaBrazilBruneiBulgariaBurkina FasoBurmaBurundiCabo VerdeCambodiaCameroonCanadaCentral African RepublicChadChileChinaColombiaComorosCongo (Brazzaville)Congo (Kinshasa)Costa RicaCote d'IvoireCroatiaCubaCyprusCzechiaDenmarkDjiboutiDominicaDominican RepublicEcuadorEgyptEl SalvadorEquatorial GuineaEritreaEstoniaEswatiniEthiopiaFijiFinlandFranceGabonGambiaGeorgiaGermanyGhanaGreeceGreenlandGrenadaGuatemalaGuineaGuinea-BissauGuyanaHaitiHoly SeeHondurasHungaryIcelandIndiaIndonesiaIranIraqIrelandIsraelItalyJamaicaJapanJordanKazakhstanKenyaKosovoKuwaitKyrgyzstanLaosLatviaLebanonLesothoLiberiaLibyaLiechtensteinLithuaniaLuxembourgMadagascarMalawiMalaysiaMaldivesMaliMaltaMauritaniaMauritiusMexicoMoldovaMonacoMongoliaMontenegroMoroccoMozambiqueNamibiaNepalNetherlandsNew ZealandNicaraguaNigerNigeriaNorth MacedoniaNorwayOmanPakistanPanamaPapua New GuineaParaguayPeruPhilippinesPolandPortugalQatarRomaniaRussiaRwandaSaint Kitts and NevisSaint LuciaSaint Vincent and the GrenadinesSan MarinoSao Tome and PrincipeSaudi ArabiaSenegalSerbiaSeychellesSierra LeoneSingaporeSlovakiaSloveniaSomaliaSouth AfricaSouth KoreaSouth SudanSpainSri LankaSudanSurinameSwedenSwitzerlandSyriaTaiwan*TajikistanTanzaniaThailandTimor-LesteTogoTrinidad and TobagoTunisiaTurkeyUSUgandaUkraineUnited Arab EmiratesUnited KingdomUruguayUzbekistanVenezuelaVietnamWest Bank and GazaWestern SaharaYemenZambiaZimbabwe"] to numeric

In [12]:
# Fill NaN values with the mean for numeric columns only
data[data.select_dtypes(include=['number']).columns] = data.select_dtypes(include=['number']).fillna(data.mean())

# Check the updated dataset
print(data)

TypeError: Could not convert ["AfghanistanAlbaniaAlgeriaAndorraAngolaAntigua and BarbudaArgentinaArmeniaAustraliaAustriaAzerbaijanBahamasBahrainBangladeshBarbadosBelarusBelgiumBelizeBeninBhutanBoliviaBosnia and HerzegovinaBotswanaBrazilBruneiBulgariaBurkina FasoBurmaBurundiCabo VerdeCambodiaCameroonCanadaCentral African RepublicChadChileChinaColombiaComorosCongo (Brazzaville)Congo (Kinshasa)Costa RicaCote d'IvoireCroatiaCubaCyprusCzechiaDenmarkDjiboutiDominicaDominican RepublicEcuadorEgyptEl SalvadorEquatorial GuineaEritreaEstoniaEswatiniEthiopiaFijiFinlandFranceGabonGambiaGeorgiaGermanyGhanaGreeceGreenlandGrenadaGuatemalaGuineaGuinea-BissauGuyanaHaitiHoly SeeHondurasHungaryIcelandIndiaIndonesiaIranIraqIrelandIsraelItalyJamaicaJapanJordanKazakhstanKenyaKosovoKuwaitKyrgyzstanLaosLatviaLebanonLesothoLiberiaLibyaLiechtensteinLithuaniaLuxembourgMadagascarMalawiMalaysiaMaldivesMaliMaltaMauritaniaMauritiusMexicoMoldovaMonacoMongoliaMontenegroMoroccoMozambiqueNamibiaNepalNetherlandsNew ZealandNicaraguaNigerNigeriaNorth MacedoniaNorwayOmanPakistanPanamaPapua New GuineaParaguayPeruPhilippinesPolandPortugalQatarRomaniaRussiaRwandaSaint Kitts and NevisSaint LuciaSaint Vincent and the GrenadinesSan MarinoSao Tome and PrincipeSaudi ArabiaSenegalSerbiaSeychellesSierra LeoneSingaporeSlovakiaSloveniaSomaliaSouth AfricaSouth KoreaSouth SudanSpainSri LankaSudanSurinameSwedenSwitzerlandSyriaTaiwan*TajikistanTanzaniaThailandTimor-LesteTogoTrinidad and TobagoTunisiaTurkeyUSUgandaUkraineUnited Arab EmiratesUnited KingdomUruguayUzbekistanVenezuelaVietnamWest Bank and GazaWestern SaharaYemenZambiaZimbabwe"] to numeric

In [13]:

# Select only numeric columns
numeric_columns = data.select_dtypes(include=['number']).columns

# Fill NaN values in numeric columns with the mean
data.fillna(data[numeric_columns].mean())

# Check the updated dataset
print(data)

           Country/Region  Confirmed Deaths  Recovered  Active  New_cases  \
index
0             Afghanistan      36263   1269      25198    9796      106.0
1                 Albania       4880    144       2745    1991      117.0
2                 Algeria      27973   1163      18837    7973      616.0
3                 Andorra        907     52        803      52       10.0
4                  Angola        950     41        242     667       18.0
...                   ...        ...    ...        ...     ...        ...
182    West Bank and Gaza      10621     78       3752    6791      152.0
183        Western Sahara         10      1          8       1        0.0
184                 Yemen       1691    483        833     375       10.0
185                Zambia       4552    140       2815    1597       71.0
186              Zimbabwe       2704    non        542    2126      192.0

       New_deaths  New_recovered  Deaths_/_100_Cases  Recovered_/_100_Cases  \
index
0            10.0             18                3.50                  69.49
1             6.0             63                2.95                  56.25
2             8.0            749                4.16                  67.34
3             0.0              0                5.73                  88.53
4             1.0              0                4.32                  25.47
...           ...            ...                 ...                    ...
182           2.0              0                0.73                  35.33
183           0.0              0               10.00                  80.00
184           4.0             36               28.56                  49.26
185           1.0            465                3.08                  61.84
186           2.0             24                1.33                  20.04

       Deaths_/_100_Recovered  Confirmed_last_week  1_week_change  \
index
0                        5.04                35526            737
1                        5.25                 4171            709
2                        6.17                23691           4282
3                        6.48                  884             23
4                       16.94                  749            201
...                       ...                  ...            ...
182                      2.08                 8916           1705
183                     12.50                   10              0
184                     57.98                 1619             72
185                      4.97                 3326           1226
186                      6.64                 1713            991

       1_week_%_increase             WHO_Region
index
0                   2.07  Eastern Mediterranean
1                  17.00                 Europe
2                  18.07                 Africa
3                   2.60                 Europe
4                  26.84                 Africa
...                  ...                    ...
182                19.12  Eastern Mediterranean
183                 0.00                 Africa
184                 4.45  Eastern Mediterranean
185                36.86                 Africa
186                57.85                 Africa

[187 rows x 15 columns]

In [14]:
# Count the number of unique countries in the dataset.
data['Country/Region'].nunique()

187

In [15]:
# Check if there are any duplicate country entries and remove them if needed
data['Country/Region'].duplicated()

index
0      False
1      False
2      False
3      False
4      False
       ...
182    False
183    False
184    False
185    False
186    False
Name: Country/Region, Length: 187, dtype: bool

In [16]:

# Find the mean
numerical_columns = data.select_dtypes(include=['float64', 'int64'])
print(numerical_columns.mean())

Confirmed                 8.813094e+04
Recovered                 5.063148e+04
Active                    3.400194e+04
New_cases                 1.282740e+03
New_deaths                3.040113e+01
New_recovered             9.338128e+02
Deaths_/_100_Cases        3.019519e+00
Recovered_/_100_Cases     6.482053e+01
Deaths_/_100_Recovered             inf
Confirmed_last_week       7.868248e+04
1_week_change             9.448460e+03
1_week_%_increase         1.360620e+01
dtype: float64

In [17]:
# Find the mean, median, and standard deviation of total cases.
data.describe()

,Confirmed,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths_/_100_Cases,Recovered_/_100_Cases,Deaths_/_100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase
count,1.870000e+02,1.870000e+02,1.870000e+02,177.000000,177.000000,187.000000,187.000000,187.000000,187.00,1.870000e+02,187.000000,187.000000
mean,8.813094e+04,5.063148e+04,3.400194e+04,1282.740113,30.401130,933.812834,3.019519,64.820535,inf,7.868248e+04,9448.459893,13.606203
std,3.833187e+05,1.901882e+05,2.133262e+05,5864.213495,123.232977,4197.719635,3.454302,26.287694,NaN,3.382737e+05,47491.127684,24.509838
min,1.000000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,1.000000e+01,-47.000000,-3.840000
25%,1.114000e+03,6.265000e+02,1.415000e+02,4.000000,0.000000,0.000000,0.945000,48.770000,1.45,1.051500e+03,49.000000,2.775000
50%,5.059000e+03,2.815000e+03,1.600000e+03,58.000000,1.000000,22.000000,2.150000,71.320000,3.62,5.020000e+03,432.000000,6.890000
75%,4.046050e+04,2.260600e+04,9.149000e+03,420.000000,6.000000,221.000000,3.875000,86.885000,6.44,3.708050e+04,3172.000000,16.855000
max,4.290259e+06,1.846641e+06,2.816444e+06,56336.000000,1076.000000,33728.000000,28.560000,100.000000,inf,3.834677e+06,455582.000000,226.320000

In [18]:
# # Set pandas to display all rows
# pd.set_option('display.max_rows', None)

# # Assuming 'data' is your DataFrame
# print(data['Deaths'])

# # Optionally, reset the display setting to the default
# pd.reset_option('display.max_rows')

In [19]:
# Find out the string in Deaths

data['Deaths_numeric'] = pd.to_numeric(data['Deaths'], errors='coerce')
strings_in_deaths = data[data['Deaths_numeric'].isna()]

print(strings_in_deaths)

      Country/Region  Confirmed Deaths  Recovered  Active  New_cases  \
index
186         Zimbabwe       2704    non        542    2126      192.0

       New_deaths  New_recovered  Deaths_/_100_Cases  Recovered_/_100_Cases  \
index
186           2.0             24                1.33                  20.04

       Deaths_/_100_Recovered  Confirmed_last_week  1_week_change  \
index
186                      6.64                 1713            991

       1_week_%_increase WHO_Region  Deaths_numeric
index
186                57.85     Africa             NaN

In [20]:
# replace it with the mean of Deaths column

pd.to_numeric(data['Deaths'], errors='coerce')
mean_data = data['Deaths'].mean()
data['Deaths'].fillna(mean_data, inplace=True)

TypeError: Could not convert string '1269144116352413305971116771342311141296575389822235026472942876183347536122039189445975918746568777754208115961398719373613580108355324652408510693422803293021249816912516820200176145262015801166596103340848381591244581764474351121099811585285185438130103151127264180112919912415124915610440227484045316118486160221086986046625539358421322043184181945167617191652206133345000421427601945430662728116937067300462843211720245700197840760215801885056301480112163634545844351211460781483140non' to numeric

In [21]:
data['Deaths'].unique()
non_numeric = data[~data['Deaths'].str.isnumeric()]
print(non_numeric)

      Country/Region  Confirmed Deaths  Recovered  Active  New_cases  \
index
186         Zimbabwe       2704    non        542    2126      192.0

       New_deaths  New_recovered  Deaths_/_100_Cases  Recovered_/_100_Cases  \
index
186           2.0             24                1.33                  20.04

       Deaths_/_100_Recovered  Confirmed_last_week  1_week_change  \
index
186                      6.64                 1713            991

       1_week_%_increase WHO_Region  Deaths_numeric
index
186                57.85     Africa             NaN

In [22]:
data['Deaths'] = pd.to_numeric(data['Deaths'], errors='coerce')

# Step 5: Calculate the mean of the 'Deaths' column, ignoring NaN values
mean_data = data['Deaths'].mean()

# Step 6: Replace NaN values with the mean of 'Deaths'
data['Deaths'].fillna(mean_data, inplace=True)

<ipython-input-22-edc54c471970>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Deaths'].fillna(mean_data, inplace=True)

In [23]:
data['Deaths'].fillna(mean_data)

data['Deaths']

index
0      1269.000000
1       144.000000
2      1163.000000
3        52.000000
4        41.000000
          ...
182      78.000000
183       1.000000
184     483.000000
185     140.000000
186    3516.129032
Name: Deaths, Length: 187, dtype: float64

In [24]:
# Change the datatype of column Deaths
data['Deaths'].astype(int)

index
0      1269
1       144
2      1163
3        52
4        41
       ...
182      78
183       1
184     483
185     140
186    3516
Name: Deaths, Length: 187, dtype: int64

# **Question 12**

In [25]:
# Calculate total number of Death in worldwide
data['Deaths'].sum().astype(int)

657516

In [26]:
# Calculate total number of Recovered all over the world
data['Recovered'].sum()

9468087

# **Question 13**

In [28]:
data

,Country/Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths_/_100_Cases,Recovered_/_100_Cases,Deaths_/_100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region,Deaths_numeric
index,,,,,,,,,,,,,,,,
0,Afghanistan,36263,1269.000000,25198,9796,106.0,10.0,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean,1269.0
1,Albania,4880,144.000000,2745,1991,117.0,6.0,63,2.95,56.25,5.25,4171,709,17.00,Europe,144.0
2,Algeria,27973,1163.000000,18837,7973,616.0,8.0,749,4.16,67.34,6.17,23691,4282,18.07,Africa,1163.0
3,Andorra,907,52.000000,803,52,10.0,0.0,0,5.73,88.53,6.48,884,23,2.60,Europe,52.0
4,Angola,950,41.000000,242,667,18.0,1.0,0,4.32,25.47,16.94,749,201,26.84,Africa,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78.000000,3752,6791,152.0,2.0,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean,78.0
183,Western Sahara,10,1.000000,8,1,0.0,0.0,0,10.00,80.00,12.50,10,0,0.00,Africa,1.0
184,Yemen,1691,483.000000,833,375,10.0,4.0,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean,483.0
185,Zambia,4552,140.000000,2815,1597,71.0,1.0,465,3.08,61.84,4.97,3326,1226,36.86,Africa,140.0
186,Zimbabwe,2704,3516.129032,542,2126,192.0,2.0,24,1.33,20.04,6.64,1713,991,57.85,Africa,NaN

In [29]:
data[data['Confirmed'] > 1000000]

,Country/Region,Confirmed,Deaths,Recovered,Active,New_cases,New_deaths,New_recovered,Deaths_/_100_Cases,Recovered_/_100_Cases,Deaths_/_100_Recovered,Confirmed_last_week,1_week_change,1_week_%_increase,WHO_Region,Deaths_numeric
index,,,,,,,,,,,,,,,,
23,Brazil,2442375,87618.0,1846641,508116,23284.0,614.0,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas,87618.0
79,India,1480073,33408.0,951166,495499,44457.0,637.0,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia,33408.0
173,US,4290259,148011.0,1325804,2816444,56336.0,1076.0,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas,148011.0

In [38]:
print(data.loc[data["Confirmed"] > 1_000_000, ["Country/Region"]].value_counts().sum())

3