<a href="https://colab.research.google.com/github/Abubakar919666/Python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**
- A function is a block of organized code written to carry out a specified task.
- Functions help break our program into smaller and modular chunks for better
  readability.
- Information can be passed into a function as arguments.
- Parameters are specified after the function name inside the parentheses.
- We can add as many parameters as we want. Parameters must be separated with a comma.
- A function may or may not return data.
- In Python a function is defined using the def keyword

# Parameter VS Argument
- A parameter is the variable listed inside the parentheses in the function definition.
- An argument is the value that is sent to the function when it is called.

# Three types of functions in Python:
- **Built-in function :-**  Python predefined functions that are readily available for use like min() ,
max() , sum() , print() etc.
- **User-Defined Functions:-** Function that we define ourselves to perform a specific task.
- **Anonymous functions :-** Function that is defined without a name. Anonymous functions are
also called as lambda functions. They are not declared with the def keyword

In [1]:
# def functionName(parameter)
#   """funtion doc string"""
#   statement(s)
#   return[expression]

In [6]:
def myfunc(name):
  print("abubakar")

myfunc(name="abubakr")

abubakar

In [ ]:
def fullname (firstname , middlename ,lastname): #Concatenate Strings
 fullname = "{} {} {}".format(firstname,middlename,lastname)
 print (fullname)
fullname('Asif' , 'Ali' , 'Bhat')

Asif Ali Bhat

In [ ]:
def fullname (lastname, middlename ,firstname ): #Concatenate Strings
 fullname = "{} {} {}".format(firstname,middlename,lastname)
 print (fullname)
fullname(lastname = 'Bhat' , middlename='Ali' , firstname='Asif') # Keyword Argument

In [ ]:
fullname ("Asif", "ali", "bhat")

bhat ali Asif

In [ ]:
def myfunc(city = 'Mumbai'):
 print('Most Populous City :- ', city)

myfunc() # When a function is called without an argument it will use default value

Most Populous City :-  Mumbai

In [ ]:
var1 = 100 # Variable with Global scope.
def myfunc():
 print(var1) # Value 100 will be displayed due to global scope of var1

myfunc()
print(var1)

100
100

In [ ]:
def myfunc1():
 var2 = 10 # Variable with Local scope
 print(var2)
 def myfunc2():
 print(var2) # This will throw error because var2 has a local scope. Var2 is o
myfunc1()
myfunc2()

IndentationError: expected an indented block after function definition on line 4 (<ipython-input-33-95ed99628054>, line 5)

In [ ]:
var1 = 100 # Variable with Global scope.
def myfunc():
 var1 = 99 # Local scope
 print(var1)
myfunc()
print(var1) # The original value of var1 (100) will be retained due to global scope

99
100

In [ ]:
list1 = [11,22,33,44,55]
def myfunc(list1):
 del list1[0]
 return list1
# print('"List1" before calling the function:- ',list1)
myfunc(list1) # Pass by reference (Any change in the parameter within the function)
# print('"List1" after calling the function:- ',list1)

[22, 33, 44, 55]

In [ ]:
list1 = [11,22,33,44,55]
def myfunc(list1):
 list1.append(100)
print('"List1" before calling the function:- ',list1)
myfunc(list1) # Pass by reference (Any change in the parameter within the function
print('"List1" after calling the function:- ',list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [11, 22, 33, 44, 55, 100]

In [ ]:
list1 = [11,22,33,44,55]
def myfunc(list1):
 list1 = [10,100,1000,10000] # link of 'list1' with previous object is broken
 print('"List1" before calling the function:- ',list1)
myfunc(list1) # Pass by reference (Any change in the parameter within the functi
print('"List1" after calling the function:- ',list1)

"List1" before calling the function:-  [10, 100, 1000, 10000]
"List1" after calling the function:-  [11, 22, 33, 44, 55]

In [ ]:
def swap(a,b):
 temp = a
 a=b # link of 'a' with previous object is broken now as new object is
 b = temp # link of 'b' with previous object is broken now as new object is
a = 10
b = 20
swap(a,b)
a,b

(10, 20)

In [ ]:
def factorial(num): # Calculate factorial of a number using recursive function c
 if num <=1 :
  return 1
 else:
  return num * factorial(num-1)

factorial(4)

24

In [ ]:
def factorial(n):
 if n ==0 :
  return 1
 else:
  return n * factorial(n-0)

factorial(4)

RecursionError: maximum recursion depth exceeded

In [1]:
def add(num): # Sum of first n natural numbers
 if num == 0:
  return 0
 else:
  return num + add(num-1)
add(5) # Sum of first five natural numbers (1,2,3,4,5)

15

In [2]:
def fiboacci(num):
 if num <= 1:
  return num
 if num == 2:
  return 1
 else:
  return(fiboacci(num-1) + fiboacci(num-2))
nums = int(input("How many fibonacci numbers you want to generate -"))
for i in range(nums):
 print(fiboacci(i)) # Generate Fibonacci series

How many fibonacci numbers you want to generate -33
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309

In [ ]:
def generate_profile(name, age, qual, prof, gender):
 profile = {}
 profile['name']= name
 profile['age'] = age
 profile['qualification']= qual
 profile['profession']= prof
 profile['gender']= gender
 print(profile)

In [ ]:
generate_profile(age= 30, name= "Khadija", qual= "matric_fail" , prof= "coder" , gender="idk ")

{'name': 'Khadija', 'age': 30, 'qualification': 'matric_fail', 'profession': 'coder', 'gender': 'idk '}

In [ ]:
def TaxCalc (income):
    pass

In [ ]:
def ComissionCalc(units):
    pass

In [ ]:
def sum_list(1st):
    s = 0
    for a in 1st:
    s+=a
    return s

SyntaxError: invalid decimal literal (4230485642.py, line 1)

In [ ]:
sum_list()

## Exception handling

In [ ]:
num1 = int(input("enter a number"))
num2 = int(input("enter another number"))
print(num1/num2)

ZeroDivisionError: division by zero

In [ ]:
num1 = int(input("enter a number"))
num2 = int(input("enter another number"))
try:
    print(num1/num2)
except ZeroDivisionError:
    print("you can't  divide by zero")

you can't  divide by zero

In [ ]:
num1 = int(input("enter a number"))
num2 = int(input("enter another number"))
try:
    print(num1/num2)
except ZeroDivisionError:
    print("you can't  divide by zero")

In [ ]:
try:
    num1 = int(input("enter a number"))
    num2 = int(input("enter another number"))
    print(num1/num2)
except ZeroDivisionError:
    print("you can't  divide by zero")
except ValueError:
    print("you can't enter a string")