<a href="https://colab.research.google.com/github/Abubakar919666/Python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**
- A function is a block of organized code written to carry out a specified task.
- Functions help break our program into smaller and modular chunks for better
  readability.
- Information can be passed into a function as arguments.
- Parameters are specified after the function name inside the parentheses.
- We can add as many parameters as we want. Parameters must be separated with a comma.
- A function may or may not return data.
- In Python a function is defined using the def keyword

# Parameter VS Argument
- A parameter is the variable listed inside the parentheses in the function definition.
- An argument is the value that is sent to the function when it is called.

# Three types of functions in Python:
- **Built-in function :-**  Python predefined functions that are readily available for use like min() ,
max() , sum() , print() etc.
- **User-Defined Functions:-** Function that we define ourselves to perform a specific task.
- **Anonymous functions :-** Function that is defined without a name. Anonymous functions are
also called as lambda functions. They are not declared with the def keyword

In [10]:
def functionName(parameter)
  """funtion doc string"""
  statement(s)
  return[expression]

SyntaxError: expected ':' (<ipython-input-10-49297e252cff>, line 1)

In [11]:
def myfunc():
  print("abubakar")

myfunc()

abubakar

In [12]:
def fullname (firstname , middlename ,lastname): #Concatenate Strings
 fullname = "{} {} {}".format(firstname,middlename,lastname)
 print (fullname)
fullname('Asif' , 'Ali' , 'Bhat')

Asif Ali Bhat

In [18]:
def fullname (lastname, middlename ,firstname ): #Concatenate Strings
 fullname = "{} {} {}".format(firstname,middlename,lastname)
 print (fullname)
fullname(lastname = 'Bhat' , middlename='Ali' , firstname='Asif') # Keyword Argument

In [21]:
fullname ("Asif", "ali", "bhat")

bhat ali Asif

In [24]:
def myfunc(city = 'Mumbai'):
 print('Most Populous City :- ', city)

myfunc() # When a function is called without an argument it will use default value

Most Populous City :-  Mumbai

In [27]:
var1 = 100 # Variable with Global scope.
def myfunc():
 print(var1) # Value 100 will be displayed due to global scope of var1

myfunc()
print(var1)

100
100

In [33]:
def myfunc1():
 var2 = 10 # Variable with Local scope
 print(var2)
 def myfunc2():
 print(var2) # This will throw error because var2 has a local scope. Var2 is o
myfunc1()
myfunc2()

IndentationError: expected an indented block after function definition on line 4 (<ipython-input-33-95ed99628054>, line 5)

In [37]:
var1 = 100 # Variable with Global scope.
def myfunc():
 var1 = 99 # Local scope
 print(var1)
myfunc()
print(var1) # The original value of var1 (100) will be retained due to global scope

99
100

In [43]:
list1 = [11,22,33,44,55]
def myfunc(list1):
 del list1[0]
 return list1
# print('"List1" before calling the function:- ',list1)
myfunc(list1) # Pass by reference (Any change in the parameter within the function)
# print('"List1" after calling the function:- ',list1)

[22, 33, 44, 55]

In [45]:
list1 = [11,22,33,44,55]
def myfunc(list1):
 list1.append(100)
print('"List1" before calling the function:- ',list1)
myfunc(list1) # Pass by reference (Any change in the parameter within the function
print('"List1" after calling the function:- ',list1)

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [11, 22, 33, 44, 55, 100]

In [48]:
list1 = [11,22,33,44,55]
def myfunc(list1):
 list1 = [10,100,1000,10000] # link of 'list1' with previous object is broken
 print('"List1" before calling the function:- ',list1)
myfunc(list1) # Pass by reference (Any change in the parameter within the functi
print('"List1" after calling the function:- ',list1)

"List1" before calling the function:-  [10, 100, 1000, 10000]
"List1" after calling the function:-  [11, 22, 33, 44, 55]

In [49]:
def swap(a,b):
 temp = a
 a = b # link of 'a' with previous object is broken now as new object is
 b = temp # link of 'b' with previous object is broken now as new object is
a = 10
b = 20
swap(a,b)
a,b

(10, 20)