<a href="https://colab.research.google.com/github/Abubakar919666/Python/blob/main/OOPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Classes & Objects**

In [2]:
class Dog:
    species = "Canine"  # Class attribute

    def __init__(self, name, age):
        self.name = name  # Instance attribute
        self.age = age  # Instance attribute

# Creating an object of the Dog class
dog1 = Dog("Buddy", 3)

print(dog1.name)  # Output: Buddy
print(dog1.species)  # Output: Canine

Buddy
Canine

In [5]:
class Dog:
    def __init__(self,name):
        self.name = name
dog1 = Dog("buddy")
print(dog1.name)

buddy

In [9]:
# Create a class with property "var1"
class myclass:
 var1 = 10

obj1 = myclass() # Create an object of class "myclass()"
print(obj1.var1)

10

In [19]:
# Create an employee class
class Employee:
 def __init__(self, name, empid): # __init__() function is used to assign values
  self.name = name
  self.empid = empid
 def greet(self): # Class Method
  print("Thanks for joining ABC Company {}!!".format(self.name))
emp1 = Employee("Asif", 34163) # Create an employee object
print('Name :- ',emp1.name)
print('Employee ID :- ',emp1.empid)
emp1.greet()

Name :-  Asif
Employee ID :-  34163
Thanks for joining ABC Company Asif!!

In [20]:
emp1.name = 'Basit' # Modify Object Properties
emp1.name

'Basit'

In [25]:
# Create an employee class
class Employee:
 def __init__(self, name, empid): # __init__() function is used to assign values
  self.name = name
  self.empid = empid
 def greet(self): # Class Method
  print("Thanks for joining ABC Company {}!!".format(self.name))
emp1 = Employee("Asif", 34163) # Create an employee object
emp1.name = 'Basit' # Modify Object Properties
emp1.name
print('Name :- ',emp1.name)

emp1.greet()

Name :-  Basit
Employee ID :-  34163
Thanks for joining ABC Company Basit!!

In [ ]:
# del emp1.empid # Delete Object Properties
# emp1.empid

In [31]:
# Create an employee class
class Employee:
 def __init__(self, name, empid): # __init__() function is used to assign values
  self.name = name
  self.empid = empid
 def greet(self): # Class Method
  print("Thanks for joining ABC Company {}!!".format(self.name))
emp1 = Employee("Asif", 34163) # Create an employee object
emp1.name = 'Basit' # Modify Object Properties
emp1.name
print('Name :- ',emp1.name)
del emp1.empid
# print('Employee ID :- ',emp1.empid)
emp1.greet()

Name :-  Basit
Thanks for joining ABC Company Basit!!

In [39]:
emp2 = Employee("Michael", 34162) # Create an employee
emp2.country = 'India' #instance variable can be created manually
emp2.country
print('Name :- ',emp2.name)
print('Employee ID :- ',emp2.empid)
emp2.greet()

Name :-  Michael
Employee ID :-  34162
Thanks for joining ABC Company Michael!!

In [37]:
emp2.country = 'India' #instance variable can be created manually
emp2.country

'India'